
body{
background-image: url("../../img3.jpg");

  /* Full height */
  height: 850px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    background-color: rgba(255, 255, 255, 0.885);
    border: 5px solid rgba(238, 204, 189, 0.844);
    padding: 40px;
    text-align: center;
    width:60%;
    margin-left: 17%;
    margin-top: 6%;
}

.todoForm {
    display: flex;
}

.btn {
    flex: 1;
}

.inputField {
    flex: 10;
}

.todo-lines {
    text-decoration: line-through;
}

.clear-all-btn {
    background-color: rgb(208, 97, 97);
    color: white;
}

.clear-completed {
    background-color: pink;
}

.add-btn {
    background-color: pink;
}

.heading-instructions{
    /* border-bottom: 2px dotted grey; */
    /* margin:40px 0px; */
}

.text-todo-list{
    font-size: 100px;
}

