.todoForm {
    display: flex;
}

.btn {
    flex: 1;
}

.inputField {
    flex: 10;
}

.todo-lines {
    text-decoration: line-through;
}

.clear-all-btn {
    background-color: rgb(208, 97, 97);
    color: white;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    font-size: 12px;
}

.clear-completed {
    background-color: pink;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    font-size: 12px;
}

.add-btn {
    background-color: pink;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    font-size: 12px;
}

button {
    cursor: pointer;
}

/* button:hover {
    background-color: yellow;
} */

.heading-instructions {
    /* border-bottom: 2px dotted grey; */
}

input {
    width: 11rem;
    height: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
}